a.button {
    color: var(--Grey-neutral-black, #242424);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
    border-radius: 8px;
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    transition: background 0.3s, border 0.3s; 
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.button.primary {
    border: 1px solid var(--color-nextflow-600);
    background: var(--color-nextflow-300);
}

a.button.primary:hover {
    background: var(--color-nextflow-400);
}

a.button.secondary {
    border: 1px solid var(--color-gray-600);
    background: var(--color-gray-100);
}

a.button.secondary:hover {
    background: var(--color-gray-200);
}

a.button.link {
    border: none;
    background: none;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

a.button.link::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-gray-900);
    transition: width 0.3s ease;
}

a.button.link:hover::after {
    width: 100%;
}

a.button.link span {
    transition: transform 0.3s ease;
}

a.button.link:hover span {
    transform:  translateX(2px);
    color: var(--color-gray-900);
}

