/*------------------------------------------------------------------
Project:	Mist
Version:	1.1
Created: 		27/11/2013
Last change:	12/01/2014
-------------------------------------------------------------------*/

/* ===== Style Toggle ===== */

i.style-toggle-btn {
  position: fixed;
  z-index: 55555;
  top: 100px;
  right: 0;
  color: #fff;
  background: #777878 / 9;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}
.style-toggle {
  position: fixed;
  z-index: 55555;
  top: 100px;
  right: 0;
  background: #777878 / 9;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 3px 0 0 3px;
}
.style-toggle > i {
  color: #fff;
  cursor: pointer;
}
.style-toggle ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.style-toggle ul > li {
  height: 30px;
  width: 30px;
  border: 1px solid #fff;
  margin-bottom: 3px;
  cursor: pointer;
}
.style-toggle ul > li.green {
  background: #0dc09d;
}
.style-toggle ul > li.blue {
  background: #3498db;
}
.style-toggle ul > li.red {
  background: #e74c3c;
}
.style-toggle ul > li.amethyst {
  background: #9b59b6;
}

/* ===== Style Colors ===== */

/* Text Colors */

.body-green .text-color {
  color: #0dc09d;
}
.body-blue .text-color {
  color: #3498db;
}
.body-red .text-color {
  color: #e74c3c;
}
.body-amethyst .text-color {
  color: #9b59b6;
}

/* Link Colors */

.body-green a {
  color: #0dc09d;
}
.body-blue a {
  color: #3498db;
}
.body-red a {
  color: #e74c3c;
}
.body-amethyst a {
  color: #9b59b6;
}

/* Border Colors */

.body-green .border-color {
  border-color: #0dc09d;
}
.body-blue .border-color {
  border-color: #3498db;
}
.body-red .border-color {
  border-color: #e74c3c;
}
.body-amethyst .border-color {
  border-color: #9b59b6;
}

/* Background Colors */

.body-green .background-color {
  background-color: #0dc09d;
}
.body-blue .background-color {
  background-color: #3498db;
}
.body-red .background-color {
  background-color: #e74c3c;
}
.body-amethyst .background-color {
  background-color: #9b59b6;
}
.body-green .bg-hover-color:hover {
  background-color: #0dc09d;
}
.body-blue .bg-hover-color:hover {
  background-color: #2980b9;
}
.body-red .bg-hover-color:hover {
  background-color: #c0392b;
}
.body-amethyst .bg-hover-color:hover {
  background-color: #8e44ad;
}

/* Logo */

.body-green .logo:after {
  color: #0dc09d;
}
.body-blue .logo:after {
  color: #3498db;
}
.body-red .logo:after {
  color: #e74c3c;
}
.body-amethyst .logo:after {
  color: #9b59b6;
}

/* Buttons */

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.bnt-danger,
.btn-color {
  color: #fff !important;
}
.btn-default {
  color: #333 !important;
}
.body-green .btn-link:hover {
  color: #0dc09d;
}
.body-blue .btn-link:hover {
  color: #3498db;
}
.body-red .btn-link:hover {
  color: #e74c3c;
}
.body-amethyst .btn-link:hover {
  color: #9b59b6;
}
.body-green .btn-color {
  background-color: #0dc09d;
  border-color: #0dc09d;
}
.body-green .btn-color:hover,
.body-green .btn-color:focus,
.body-green .btn-color:active {
  background-color: #0dc09d;
  border-color: #0dc09d;
}
.body-green .btn-outline-color {
  background-color: transparent;
  border-color: #0dc09d;
  color: #0dc09d;
}
.body-green .btn-outline-color:hover,
.body-green .btn-outline-color:focus,
.body-green .btn-outline-color:active {
  background-color: #0dc09d;
  color: #fff;
}
.body-blue .btn-color {
  background-color: #3498db;
  border-color: #2980b9;
}
.body-blue .btn-color:hover,
.body-blue .btn-color:focus,
.body-blue .btn-color:active {
  background-color: #2980b9;
  border-color: #1d5c86;
}
.body-red .btn-color {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.body-red .btn-color:hover,
.body-red .btn-color:focus,
.body-red .btn-color:active {
  background-color: #c0392b;
  border-color: #962e22;
}

.body-amethyst .btn-color {
  background-color: #9b59b6;
  border-color: #8e44ad;
}
.body-amethyst .btn-color:hover,
.body-amethyst .btn-color:focus,
.body-amethyst .btn-color:active {
  background-color: #8e44ad;
  border-color: #6c3384;
}
