#summit-banner-container {
  padding: 0 20px;
  max-width: 990px;
  margin: 60px auto 60px auto;
}
#summit-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 16px;
  background: #171226;
  color: #EEE;
  overflow: hidden;
}
#summit-banner > div {
  position: relative;
}
#summit-banner > div:first-child {
  width: 62%;
}
#summit-banner > div:first-child > a {
  display: block;
  position: absolute;
  inset: 0;
}
#summit-banner > div:first-child > a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#summit-banner > div:last-child {
  width: 38%;
  padding: 40px;
}
#summit-banner > div:last-child h2 {
  margin-top: 0;
}
@media(max-width: 580px) {
  #summit-banner > div:first-child {
    min-height: 230px;
  }
  #summit-banner > div {
    width: 100%!important;
    text-align: center;
  }
}