.hamburger {
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  background: transparent;
  border: none;
  padding: 10px;
  bottom: 5px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger span {
  width: 20px;
  height: 2px;
  background-color: var(--color-brand, #1FB2A6);
  display: block;
  margin: 4.8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  border: 3px solid transparent;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.hamburger.open {
  transform: rotate(45deg) translate(0, 0);
}

.hamburger.open span {
  width: 21px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(7.8px);
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-5.8px) rotate(90deg);
} 