---
import { getCollection } from "astro:content";
import Page from "@layouts/Page.astro";

const allPosts = await getCollection("blog");
const tags = new Set();

// Extract tags from all posts
allPosts.forEach((post) => {
  if (post.data.tags) {
    post.data.tags.split(",").forEach((tag) => {
      const trimmedTag = tag.trim();
      if (trimmedTag) {
        // Ensure the tag is not empty
        tags.add(trimmedTag);
      }
    });
  }
});
---

<Page title="Blog">
  <div class="row">
    <div class="col-sm-8">
      <h3>Tags</h3>
      <hr />
      <ul>
        {
          Array.from(tags)
            .sort()
            .map((tag) => {
              return (
                <li>
                  <a href={`/tags/${tag}`}>{tag}</a>
                </li>
              );
            })
        }
      </ul>

      <div class="clearfix"></div>
    </div>
    <div class="col-sm-4">
      <h3>Stay Tuned <small>Social Links</small></h3>
      <hr />
      <ul class="blg-social">
        <li>
          <a href="/feed.xml">
            <span class="icon rss">
              <i class="fa fa-rss fa-2x"></i>
            </span>
            <span class="text-muted">Subscribe to our blog RSS Feed.</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/nextflowio" target="_blank">
            <span class="icon twitter">
              <i class="fa fa-twitter fa-2x"></i>
            </span>
            <span class="text-muted">Subscribe to our Twitter Feed.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Page>
