.card {
  display: flex;
  padding: 30px 30px;
  flex-direction: column;
  justify-content: star;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  transition:
    background 0.3s,
    border-radius 0.3s;
  border-radius: 0px;
  background: rgba(182, 236, 226, 0.2);
  border: 1px solid var(--color-brand-300-opacity);
}

.card.hoverable::hover {
  border-radius: 0px;
  background: var(--Brand-Nextflow-brand-2, red);
}

.cardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTitle {
  color: var(--color-brand);
  leading-trim: both;
  text-edge: cap;
  font-family: "Degular", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.56px;
}

.cardText {
  color: var(--color-brand);
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
