---
import Page from "@layouts/Page.astro";
import Button from "@components/Button";
---

<Page title="Page not found">
  <div class="container container-lg h-fill my-auto h-full">
    <div class="h-full flex flex-col items-center justify-center my-auto">
      <div class="not-found">
        <div class="not-found-header">
          <span class="background-color">
            <i class="fa fa-trash-o fa-5x text-white random animated rotateIn"></i>
            <i class="fa fa-question fa-5x text-white random animated rotateIn"></i>
            <i class="fa fa-ban fa-5x text-white random animated rotateIn"></i>
          </span>
          <span class="background-color">
            <i class="fa fa-trash-o fa-5x text-white random2 animated rotateIn delay1"></i>
            <i class="fa fa-question fa-5x text-white random2 animated rotateIn delay1"></i>
            <i class="fa fa-ban fa-5x text-white random2 animated rotateIn delay1"></i>
          </span>
          <span class="background-color">
            <i class="fa fa-trash-o fa-5x text-white random3 animated rotateIn delay2"></i>
            <i class="fa fa-question fa-5x text-white random3 animated rotateIn delay2"></i>
            <i class="fa fa-ban fa-5x text-white random3 animated rotateIn delay2"></i>
          </span>
        </div>

        <h3 class="text-center">Page Not Found (404)</h3>

        <p class="text-center">
          Sorry, but we failed to find the page you are looking for.<br />
          Please visit our <a href="index.html">Home page</a>.
        </p>
        <Button url="/" variant="primary" className="mt-4 mx-auto">Go to Home</Button>
      </div>
    </div>
  </div>
</Page>
