---
import Page from "@layouts/Page.astro";
import Button from "@components/Button";
import Card from "@components/Card";
import AmbassadorSideNav from "@components/SideNavigation/AmbassadorSideNav";
---

<Page title="Nextflow Ambassadors">
  <div class="container container-lg">
    <h1>Become an ambassador!</h1>
    
    <div class="flex flex-col lg:flex-row lg:gap-12">
      <div class="mb-6 lg:mb-0 -mx-2 px-2 lg:mx-0 lg:w-64">
        <AmbassadorSideNav client:load />
      </div>
      
      <div class="flex-1">
        <p>
          <!-- <img src="/img/nextflow_ambassador_logo.svg" width="400" class="pull-right" style="padding: 2rem 1rem;" /> -->
          The Nextflow community is a dynamic ecosystem that brings together thousands of researchers, developers, and enthusiasts
          who are passionate about data-driven workflows and scientific computing. It thrives on the principles of open-source
          software, open science, and knowledge sharing. Here, you'll have the opportunity to connect with like-minded individuals
          from around the world, exchange ideas, and contribute to the advancement of cutting-edge bioinformatics, genomics,
          and data analysis pipelines. Whether you're a seasoned expert or just beginning your journey, the Nextflow community
          offers a supportive environment that values your insights and encourages your growth.
        </p>
        <p style="text-align:center">
          <Button url="/our_ambassadors.html" variant="primary" className="m-auto mt-5">Check our ambassadors</Button>
        </p>

        <section id="why-become" class="pt-6">
          <h2 class="h3">Why become a Nextflow Ambassador?</h2>

          <p>
            The Nextflow ambassador program is a unique and exciting initiative designed to empower passionate individuals
            within the Nextflow community to play a more active role in fostering collaboration, knowledge sharing, and
            engagement. As a Nextflow Ambassador, you will have the opportunity to amplify the reach and impact of Nextflow by
            promoting its adoption, organizing community events, sharing your expertise through presentations and tutorials,
            and assisting fellow community members with their questions and challenges. This program is a way to recognise the
            dedicated volunteers that contribute their time, enthusiasm, and expertise to help grow and strengthen the
            Nextflow ecosystem. By becoming a Nextflow Ambassador, you'll not only enhance your own skills and network but
            also contribute to the advancement of scientific research and data analysis on a global scale.
          </p>

          <div class="flex flex-wrap gap-5" style="margin-bottom: 3rem;">
            <Card title="Impact" text="Help to shape and grow the Nextflow and nf-core communities and increase your social media reach!" />
            <Card title="Training" text="Receive training to be a successful ambassador and get access to our content library with slide decks, templates, and more." />
            <Card title="Access" text="Get 'behind the scenes', with insights into running an open-source community and make a variety of contacts." />
          
          </div>
          <div class="flex flex-wrap gap-5">
            <Card title="Involved" text="Be kept up-to-date regarding our events and have opportunities to be involved in their planning." />
            <Card title="Recognition" text="Receive a certificate for your work and appear on the ambassador page of our website. Oh, and did we mention that there's exclusive swag?" />
            <Card title="Support" text="Gain access to an exclusive travel fund to go to events; get stickers and support (e.g., pizza) for events that you organize." /> 
          </div>
        </section>

        <section id="what-we-expect" class="pt-6">
          <h2 class="h3">What we expect from you</h2>

          <p>
            Examples of activities for an ambassador could include talking about Nextflow and nf-core at local events, writing
            or sharing tweets or blog posts about Nextflow and nf-core, or managing local user groups for organizing workshops
            and hackathons. Of course, if you have other ideas of how to promote Nextflow and nf-core we encourage you to do
            so.
          </p>

          <p>
            Successful ambassadors are individuals recognized for their expertise and willingness to help others learn about
            the framework and community. They are interested in and may already help coordinate local and regional meetups,
            create educational content such as blog posts, whitepapers, case studies, or training.
          </p>

          <p>
            The ambassador program exists to empower community members with tools and resources. Your responsibilities could
            include:
          </p>

          <div class="flex flex-wrap gap-5 mt-5" style="margin-bottom: 3rem;">
            <Card title="Networking" text="Engaging with the local, national, and international Nextflow community" />
            <Card title="Creating content" text="Writing or sharing tweets, blogs, articles, and technical documentation" />
            <Card title="Organizing events" text="Running local Nextflow and nf-core events such as user groups, hackathons, and workshops" />

          </div>
          <div class="flex flex-wrap gap-5 mb-5">
            <Card title="Giving talks" text="Speaking about Nextflow and nf-core at meetings and events" />
            <Card title="Local contact" text="Acting as a local contact for new community members" />
            <Card title="Community support" text="Answering questions about Nextflow and nf-core." />
          </div>

          <p>
            We do our best to monitor the activities of our ambassadors (with your help) and review membership twice per year.
            The quantity and types of contributions vary between ambassadors and we understand that other demands can
            fluctuate over time - membership of the program is non-binding.
          </p>
        </section>

        <section id="become-ambassador" class="pt-6">
          <h2 class="h3">Become an Ambassador</h2>

          <p>We're looking for people who:</p>

          <ul>
            <li>Joined the Nextflow and nf-core community at least 6-months ago</li>
            <li>Share our information reliably and appropriately</li>
            <li>Have already participated in some of our events and/or initiatives</li>
            <li>Are willing to actively support the community as an ambassador for at least one year</li>
          </ul>

          <p>
            We review our ambassadors every six months, so it's no problem to pick up and put down the title as your other
            commitments allow.
          </p>

          <p>
            To become an ambassador, please register your interest using the link below. We will get in touch with you soon to
            chat about the next steps.
          </p>

          <p class="flex flex-row gap-2 justify-center my-5">

            <Button url="https://seqera.typeform.com/ambassadors" variant="primary">Apply here</Button>

            <Button url="/misc/Nextflow-Ambassadors-Handbook.pdf" variant="secondary">Nextflow Ambassador Handbook</Button>
          </p>
        </section>

      </div>
    </div>
  </div>
</Page>
