---
import Page from "@layouts/Page.astro";
import AmbassadorCard from "@components/AmbassadorCard.astro";
---

<Page title="Our Ambassadors">
  <h1>Nextflow Ambassadors</h1>

  <div class="container">
    <div class="row">
      <AmbassadorCard
        name="Abhinav Sharma"
        img="abhinav.jpg"
        country="za"
        github="abhi18av"
        linkedin="abhi18av"
        twitter="abhi18av"
      >
        Abhinav Sharma...
      </AmbassadorCard>

      <AmbassadorCard
        name="Adam Talbot"
        img="adam_talbot.jpeg"
        country="gb"
        github="madamrtalbot"
        linkedin="adam-talbot-9040a826"
        twitter="adamrtalbot"
      >
        Adam Talbot...
      </AmbassadorCard>

      <AmbassadorCard
        name="Alex Peltzer"
        img="alex.jpeg"
        country="de"
        github="apeltzer"
        linkedin="apeltzer"
        twitter="alex_peltzer"
      >
        Alex Peltzer...
      </AmbassadorCard>

      <AmbassadorCard name="Anabella Trigila" img="anabella.jpeg" country="ar" github="atrigila" linkedin="anabellat">
        Anabella Trigila...
      </AmbassadorCard>

      <AmbassadorCard
        name="Christopher Mohr"
        img="christopher.jpeg"
        country="de"
        github="christopher-mohr"
        linkedin="christopher-mohr-8b6a52197"
        twitter="cmohr_tue"
      >
        Christopher Mohr...
      </AmbassadorCard>

      <AmbassadorCard
        name="Cris Tuñi"
        img="cristuni.jpeg"
        country="es"
        github="ctuni"
        linkedin="cristina-tuñí-i-domínguez-75a053145"
        twitter="c_tunyi"
      >
        Cris Tuñi...
      </AmbassadorCard>

      <AmbassadorCard name="Daniel Lundin" img="daniel.jpeg" country="se" github="erikrikarddaniel">
        Daniel Lundin...
      </AmbassadorCard>

      <AmbassadorCard
        name="Davi Marcon"
        img="davi.jpeg"
        country="br"
        github="Mxrcon"
        linkedin="davi-marcon-2088a722b"
        twitter="mxrcon_"
      >
        Davi Marcon...
      </AmbassadorCard>

      <AmbassadorCard
        name="Edmund Miller"
        img="edmundmiller.png"
        country="us"
        github="Emiller88"
        linkedin="edmund-miller-01974a105"
        twitter="E_Miller88"
      >
        Edmund Miller is a Ph.D. Candidate in the Functional Genomics Lab at the <a
          href="https://www.utdallas.edu"
          target="_blank">University of Texas at Dallas</a
        >. He's a <a href="https://nf-co.re/governance#maintainers" target="_blank">maintainer</a>
        in the <a href="https://nf-co.re" target="_blank">nf-core</a> project involved in an eclectic group of nf-core projects.
      </AmbassadorCard>

      <AmbassadorCard
        name="Francesco Lescai"
        img="francesco_nxf.png"
        country="it"
        github="lescai"
        linkedin="https://www.linkedin.com/in/francescolescai"
        twitter="tokybo"
      >
        Francesco Lescai leads the <a href="https://lescailab.unipv.it" target="_blank">Computational Genomics Lab</a> at
        the <a href="https://dbb.dip.unipv.it/en" target="_blank">University of Pavia</a>. He teaches bioinformatics and
        he's a developer of <a href="https://nf-co.re" target="_blank">nf-core</a> pipelines.
      </AmbassadorCard>

      <AmbassadorCard
        name="Franziska Bonath"
        img="franziska.jpeg"
        country="se"
        github="FranBonath"
        linkedin="franziska-bonath-a0827a7a"
        twitter="FranBonath"
      >
        Fran got her PhD in Developmental Biology at the University of Manchester, then moved to Stockholm where she
        eventually landed at the NGI, one of the founding institutions of nf-core. She is a <a
          href="https://nf-co.re/governance#core-team"
          target="_blank">core team</a
        > member of <a href="https://nf-co.re/" target="_blank">nf-core</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Friederike Hanssen"
        img="friederikehanssen.png"
        country="de"
        github="FriederikeHanssen"
        linkedin="friederike-hanssen"
        twitter="RikeHanssen"
      >
        Friederike Hanssen...
      </AmbassadorCard>

      <AmbassadorCard
        name="Georgie Samaha"
        img="georgie.jpg"
        country="au"
        github="georgiesamaha"
        linkedin="https://au.linkedin.com/in/georgie-samaha-95095b230"
      >
        Georgie leads the bioinformatics group at the <a
          href="https://www.sydney.edu.au/research/facilities/sydney-informatics-hub.html"
          target="_blank">Sydney Informatics Hub</a
        >, University of Sydney. She is working toward making bioinformatics more accessible by developing public
        digital infrastructure with the <a href="https://www.biocommons.org.au/" target="_blank"
          >Australian BioCommons</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="James Fellows Yates"
        img="james.jpeg"
        country="de"
        github="jfy133"
        linkedin="james-fellows-yates-999859179"
        twitter="jfy133"
      >
        James has a PhD in Bioinformatics from <a href="https://www.uni-jena.de" target="_blank">FSU Jena</a> and <a
          href="https://www.eva.mpg.de"
          target="_blank">MPI-EVA</a
        >. He is currently a PostDoc at <a href="https://www.leibniz-hki.de/en/" target="_blank">Leibniz-HKI</a>,
        working in metagenomics with a specialism in ancient DNA. He is also a <a
          href="https://nf-co.re/governance#core-team"
          target="_blank">core team</a
        > member of <a href="https://nf-co.re/" target="_blank">nf-core</a>
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Jose Espinosa-Carrasco"
        img="joseespinosacarrasco.png"
        country="es"
        github="JoseEspinosa"
        linkedin="jose-espinosa-carrasco"
      >
        Jose is a Bioinformatician at the CBCRG group at the <a href="https://www.crg.eu" target="_blank">CRG</a>, the
        laboratory where Nextflow was born. As an early adopter of Nextflow, he is also a member of the <a
          href="https://nf-co.re/"
          target="_blank">nf-core</a
        >
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Júlia Mir Pedrol"
        img="juliamirpedrol.png"
        country="es"
        github="mirpedrol"
        linkedin="juliamirpedrol"
        twitter="juliamirpedrol"
      >
        Júlia is a bioinformatician at the Computational Biology and Health Genomics group from the CRG. She is also an
        nf-core tools developer and a member of the <a href="https://nf-co.re/" target="_blank">nf-core</a>
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Kübra Narcı"
        img="kubranarci.png"
        country="de"
        github="kubranarci"
        linkedin="kubranarci"
        twitter="kubranarci"
      >
        Kübra Narcı...
      </AmbassadorCard>

      <AmbassadorCard
        name="Luke Pembleton"
        img="luke.jpg"
        country="au"
        github="lpembleton"
        mastodon="https://genomic.social/@lwpembleton"
        linkedin="https://www.linkedin.com/in/lpembleton/"
        twitter="lwpembleton"
      >
        Luke has a PhD in Molecular Genetics from <a href="https://www.latrobe.edu.au/" target="_blank"
          >La Trobe University</a
        > and <a href="https://agriculture.vic.gov.au/about/our-research" target="_blank">AVR</a>, Australia. He is
        currently a Genomic Breeding Scientist and Global Strategic Science Manager at <a
          href="https://www.barenbrug.com"
          target="_blank">Barenbrug</a
        >.
      </AmbassadorCard>
      <AmbassadorCard
        name="Graeme Grimes"
        img="ggrimes.jpg"
        country="gb"
        github="ggrimes"
        linkedin="graeme-grimes-a753743a"
        twitter="bioggrimes"
      >
        Graeme is a Bioinformatician at the <a href="https://www.ed.ac.uk/institute-genetics-cancer" target="_blank"
          >Institute of Genetics & Cancer</a
        > at the
        <a href="https://www.ed.ac.uk" target="_blank">Univeristy of Edinburgh</a> in Scotland, he is also the lesson maintainer
        of the Carpentries
        <a href="https://carpentries-incubator.github.io/workflows-nextflow/" target="_blank"
          >Introduction to Bioinformatics workflows with Nextflow and nf-core</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Mahesh Binzer-Panchal"
        img="mahesh_binzer-panchal.png"
        country="se"
        github="mahesh-panchal"
        mastodon="https://genomic.social/@mbp"
        linkedin="mahesh-binzer-panchal-79a726a2"
        twitter="arcane_mahesh"
      >
        Mahesh is a bioinformatician for <a href="https://www.nbis.se/" target="_blank">NBIS</a>,
        <a href="https://www.scilifelab.se/" target="_blank">SciLifeLab</a>, the Swedish node of
        <a href="https://elixir-europe.org/" target="_blank">Elixir</a>. He supports research groups, performing de novo
        genome assembly, or workflow development. He is also an nf-core maintainer.
      </AmbassadorCard>

      <AmbassadorCard
        name="Matthias De Smet"
        img="matthias_de_smet.jpeg"
        country="be"
        github="matthdsm"
        linkedin="desmetmatthias"
      >
        Matthias De Smet...
      </AmbassadorCard>

      <AmbassadorCard name="Matthias Hörtenhuber" img="matthias.jpeg" country="se" github="mashehu" twitter="mashehu">
        Matthias Hörtenhuber...
      </AmbassadorCard>

      <AmbassadorCard
        name="Maxime Garcia"
        img="maxime.jpeg"
        country="se"
        github="maxulysse"
        linkedin="maxugarcia"
        twitter="gau"
      >
        Maxime, bioinfomagician, develops nf-core pipelines, mainly Sarek, and is a member of the <a
          href="https://nf-co.re/"
          target="_blank">nf-core</a
        >
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Michael Heuer"
        img="michael_heuer.png"
        country="us"
        github="heuermh"
        twitter="michael_l_heuer"
      >
        Michael Heuer...
      </AmbassadorCard>

      <AmbassadorCard
        name="Moritz E. Beber"
        img="moritz.jpeg"
        country="dk"
        github="Midnighter"
        linkedin="moritz-beber-b597a55a"
        twitter="me_beber"
      >
        Moritz E. Beber...
      </AmbassadorCard>

      <AmbassadorCard
        name="Natalia Coutouné"
        img="natalia.jpeg"
        country="br"
        github="nat-coutoune"
        linkedin="natalia-coutouné-a421b91b5"
      >
        Natalia Coutouné...
      </AmbassadorCard>

      <AmbassadorCard
        name="Nicolas Vannieuwkerke"
        img="nicolas.jpeg"
        country="be"
        github="nvnieuwk"
        linkedin="nicolas-vannieuwkerke-316874163"
      >
        Nicolas Vannieuwkerke is a Bioinformatician at <a href="https://www.cmgg.be/" target="_blank">CMGG</a>. He
        mainly develops Nextflow pipelines for in-house deployment using the nf-core standards. He also is an avid
        believer in "Learning on the job" and is always eager to learn
      </AmbassadorCard>

      <AmbassadorCard
        name="Phil Ewels"
        img="phil.jpg"
        country="se"
        github="ewels"
        linkedin="philewels"
        twitter="tallphil"
      >
        Phil Ewels is Senior Product Manager for Open Source Software at <a href="https://www.seqera.io" target="_blank"
          >Seqera</a
        >, working on strengthening the Nextflow and nf-core communities. He holds a PhD in Molecular Biology from the <a
          href="https://www.cam.ac.uk"
          target="_blank">University of Cambridge</a
        >, UK. He co-founded <a href="https://nf-co.re/" target="_blank">nf-core</a> and is a member of the
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Priyanka Surana"
        img="priyanka.jpeg"
        country="gb"
        github="priyanka-surana"
        linkedin="priyanka-surana"
        twitter="psurana"
      >
        Priyanka Surana...
      </AmbassadorCard>

      <AmbassadorCard
        name="Ramprasad Neethiraj"
        img="ramprasadneethiraj.jpg"
        country="se"
        github="ramprasadn"
        linkedin="ramprasad-neethiraj"
      >
        Ram is a bioinformatician in the <a href="https://www.scilifelab.se/units/clinical-genomics-stockholm/"
          >Clinical Genomics Unit</a
        > at <a href="https://www.scilifelab.se/">SciLifeLab</a>, Stockholm, developing diagnostic pipelines for
        clinical settings. He has a Ph.D. in Population Genetics from <a href="https://www.su.se/english/"
          >Stockholm University</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Robert Petit"
        img="robertpetit.png"
        country="us"
        github="rpetit3"
        linkedin="rpetit3"
        twitter="rpetit3"
      >
        Robert is a Senior Bioinformatics Scientist at the
        <a href="https://health.wyo.gov/publichealth/lab/" target="_blank">Wyoming Public Health Laboratory</a>. He's
        the developer of <a href="https://bactopia.github.io/" target="_blank">Bactopia</a>,
        <a
          href="https://bactopia.github.io/v3.0.0/impact-and-outreach/enhancements/#nf-coremodules-contributions"
          target="_blank">a regular contributor to nf-core</a
        >, and a member of the Bioconda Core team.
      </AmbassadorCard>

      <AmbassadorCard
        name="Saba Nafees"
        img="saba.jpeg"
        country="us"
        github="snafees"
        linkedin="saba-nafees"
        twitter="saba_nafees314"
      >
        Saba Nafees...
      </AmbassadorCard>

      <AmbassadorCard
        name="Sateesh Peri"
        img="SateeshPeri.png"
        country="us"
        github="sateeshperi"
        linkedin="sateesh-peri-b0130476"
      >
        Sateesh Peri...
      </AmbassadorCard>

      <AmbassadorCard
        name="Simon Pearce"
        img="simon_pearce.jpeg"
        country="gb"
        github="SPPearce"
        linkedin="simonppearce"
      >
        Simon Pearce is a Principal Bioinformatician at the <a
          href="https://www.cruk.manchester.ac.uk/Our-Research/Cancer-Biomarker-Centre/CEP-Home/"
          >Cancer Research UK National Biomarker Centre</a
        >, where he works on detecting and subtyping cancer using circulating cell-free DNA methylation.
      </AmbassadorCard>

      <AmbassadorCard
        name="Sofia Stamouli"
        img="sofia.jpeg"
        country="se"
        github="sofstam"
        linkedin="sofia-stamouli-a22b5477"
      >
        Sofia Stamouli...
      </AmbassadorCard>

      <AmbassadorCard
        name="Zohaib Anwar"
        img="zohaibanwar.jpeg"
        country="ca"
        github="anwarMZ"
        linkedin="mzohaibanwar"
        twitter="zohaibanwar_"
      >
        Zohaib is a Senior Postdoc Researcher at the
        <a href="https://cidgoh.ca/" target="_blank">Center for Infectious Disease Genomics and One Health</a>. He's the
        developer of <a href="https://virusmvp.org" target="_blank">VIRUS-MVP</a>, powered by a genomics workflow
        developed in Nextflow with nf-core modules.
      </AmbassadorCard>
    </div>
  </div>
  <h1>Ambassador Program Staff</h1>

  <div class="container">
    <div class="row">
      <AmbassadorCard
        name="Marcel Ribeiro-Dantas"
        img="marcel.jpg"
        country="br"
        github="mribeirodantas"
        linkedin="mribeirodantas"
        twitter="mribeirodantas"
      >
        Marcel holds a PhD in Bioinformatics from <a href="https://www.sorbonne-universite.fr" target="_blank"
          >Sorbonne Université</a
        >. He is currently a Developer Advocate at <a href="https://seqera.io" target="_blank">Seqera</a> and a member in
        the <a href="https://nf-co.re/" target="_blank">nf-core</a>
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Geraldine Van der Auwera"
        img="geraldine.png"
        country="us"
        github="vdauwera"
        linkedin="geraldine-van-der-auwera-5a5811"
        twitter="VdaGeraldine"
      >
        Geraldine is Lead Developer Advocate at <a href="https://seqera.io" target="_blank">Seqera</a>. She has a bit of
        history with GATK and is also the author of Genomics in the Cloud (O'Reilly, 2020).
      </AmbassadorCard>

      <AmbassadorCard
        name="Chris Hakkaart"
        img="chris_h.png"
        country="at"
        github="christopher-hakkaart"
        linkedin="christopher-hakkaart"
        twitter="Chris_Hakk"
      >
        Chris Hakkaart is a Developer Advocate at <a href="https://wwww.seqera.io" target="_blank">Seqera</a>, working
        on strengthening the Nextflow and nf-core communities. He holds a PhD in Genetics from the <a
          href="https://www.otago.ac.nz/"
          target="_blank">University of Otago</a
        >, New Zealand. He is also a member in the <a href="https://nf-co.re/" target="_blank">nf-core</a>
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>
    </div>
  </div>
  <h1>Program Alumni</h1>
  Individuals who are no longer active Nextflow ambassadors but have participated in the program in the past.
  <div class="container">
    <div class="row">
      <AmbassadorCard
        name="Anders Jemt"
        img="anders.jpeg"
        country="se"
        github="jemten"
        linkedin="anders-jemt-16b73367"
      />
      <AmbassadorCard
        name="Bhargava Morampalli"
        img="bhargava.jpeg"
        country="nz"
        github="bhargava-morampalli"
        linkedin="bhargavamorampalli"
        twitter="iambhargava"
      />
      <AmbassadorCard
        name="Gisela Gabernet"
        img="gisela.jpeg"
        country="us"
        github="ggabernet"
        linkedin="gisela-gabernet-89a9779b"
        twitter="GGabernet"
      />
      <AmbassadorCard
        name="Jasmin Frangenberg"
        img="jasmin.jpeg"
        country="de"
        github="jasmezz"
        linkedin="jasmin-frangenberg"
      />
    </div>
  </div>
</Page>
