---
import Page from "@layouts/Page.astro";
import AmbassadorsList from "@components/AmbassadorsList/index.tsx";
---

<Page title="Our Ambassadors">
  <div class="container container-lg">
    <h1 id="ambassadors" class="text-center text-4xl font-display mb-12">Nextflow Ambassadors</h1>
    
    <AmbassadorsList client:load />
  </div>
</Page>
