---
import Page from "@layouts/Page.astro";
import AmbassadorCard from "@components/AmbassadorCard.astro";
---

<Page title="Our Ambassadors">
  <h1 id="ambassadors">Nextflow Ambassadors</h1>

  <div class="container">
    <div class="row">
      <AmbassadorCard
        name="Abhinav Sharma"
        img="abhinav.jpg"
        country="za"
        github="abhi18av"
        linkedin="abhi18av"
        twitter="abhi18av"
      />

      <AmbassadorCard
        name="Adam Talbot"
        img="adam_talbot.jpeg"
        country="gb"
        github="madamrtalbot"
        linkedin="adam-talbot-9040a826"
        twitter="adamrtalbot"
      />

      <AmbassadorCard
        name="Alex Peltzer"
        img="alex.jpeg"
        country="de"
        github="apeltzer"
        linkedin="apeltzer"
        twitter="alex_peltzer"
      />

      <AmbassadorCard
        name="Alex Valcourt Caron"
        img="alexvc.jpeg"
        country="ca"
        github="AlexVCaron"
        linkedin="alex-valcourt-caron-545bb72b7"
        twitter="AlexVCaron"
      >
        Alex Valcourt Caron is a PhD Candidate at the <a href="https://scil.usherbrooke.ca" target="_blank"
          >Sherbrooke Connectivity Imaging Laboratory</a
        >. He develops nextflow components for Magnetic Resonance Imaging (MRI) and is co-leading the <a
          href="https://nf-co.re/special-interest-groups/neuroimaging"
          target="_blank">Neuroimaging Special Interest Group</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Amofa Justice Ohene"
        img="justice.JPG"
        country="gh"
        github="Iamamofa"
        linkedin="justice-ohene-amofa-349b44173"
        twitter="I_am_amofa"
      >
        Justice is a Bioinformatician and a ML/AI engineer at the <a href="https://noguchi.ug.edu.gh" target="_blank"
          >Noguchi Memorial Institute For Medical Research</a
        >. He is currently on the <a href="https://pangens.org" target="_blank">PANGenS Project</a>.
      </AmbassadorCard>

      <AmbassadorCard name="Anabella Trigila" img="anabella.jpeg" country="ar" github="atrigila" linkedin="anabellat" />

      <AmbassadorCard
        name="Ashley Dederich"
        img="AshleyDederich.png"
        country="us"
        github="ashdederich"
        linkedin="ashley-dederich-bioinformatician"
      >
        Ashley is a Scientific Consultant at the <a href="https://chpc.utah.edu/" target="_blank">CHPC</a>. She has
        developed image analysis and genomic assembly pipelines and now uses her expertise to consult researchers on
        their scientific computing requirements.
      </AmbassadorCard>

      <AmbassadorCard
        name="Carson Miller"
        img="CarsonMiller.png"
        country="us"
        github="CarsonJM"
        linkedin="carson-miller-a94911173"
        twitter="carsonjmiIIer"
      >
        Carson Miller is a Microbiology Ph.D. Candidate in Lucas Hoffman's lab at the <a
          href="https://microbiology.washington.edu/"
          target="_blank">University of Washington</a
        >. He is also a <a href="https://nf-co.re/governance#maintainers" target="_blank">maintainer</a>
        in the <a href="https://nf-co.re" target="_blank">nf-core</a> project involved in developing/updating pipelines related
        to microbial metagenomics.
      </AmbassadorCard>

      <AmbassadorCard
        name="Charalampos (Harris) Lazaris"
        img="harris.jpg"
        country="us"
        github="chlazaris"
        linkedin="chlazaris"
        twitter="chlazaris"
      >
        Charalampos is a Senior Data Scientist in Oncology at Novartis Biomedical Research in Cambridge, MA. He earned
        his PhD from <a href="https://www.nyu.edu/">NYU</a>. He specializes in gene dysregulation in cancer and how to
        exploit it therapeutically.
      </AmbassadorCard>

      <AmbassadorCard name="Colby T. Ford" img="Colby_Ford.jpg" country="us" github="colbyford" linkedin="colbyford">
        <a href="https://colbyford.com" target="_blank">Colby T. Ford, Ph.D.</a> is a Principal Consultant at <a
          href="https://tuple.xyz"
          target="_blank">Tuple</a
        >. He is the author of <a
          href="https://www.oreilly.com/library/view/genomics-in-the/9781098139032/"
          target="_blank">Genomics in the Azure Cloud</a
        > (O'Reilly, 2022) and specializes in cloud architecture for large bioinformatics workloads.
      </AmbassadorCard>

      <AmbassadorCard
        name="Cris Tuñi"
        img="cristuni.jpeg"
        country="es"
        github="ctuni"
        linkedin="cristina-tuñí-i-domínguez-75a053145"
        twitter="c_tunyi"
      />

      <AmbassadorCard name="Daniel Lundin" img="daniel.jpeg" country="se" github="erikrikarddaniel" />

      <AmbassadorCard
        name="Davi Marcon"
        img="davi.jpeg"
        country="br"
        github="Mxrcon"
        linkedin="davi-marcon-2088a722b"
        twitter="mxrcon_"
      />

      <AmbassadorCard
        name="Edmund Miller"
        img="edmundmiller.png"
        country="us"
        github="Emiller88"
        linkedin="edmund-miller-01974a105"
        twitter="E_Miller88"
      >
        Edmund Miller is a Ph.D. Candidate in the Functional Genomics Lab at the <a
          href="https://www.utdallas.edu"
          target="_blank">University of Texas at Dallas</a
        >. He's a <a href="https://nf-co.re/governance#maintainers" target="_blank">maintainer</a>
        in the <a href="https://nf-co.re" target="_blank">nf-core</a> project involved in an eclectic group of nf-core projects.
      </AmbassadorCard>

      <AmbassadorCard
        name="Edwin Simjaya"
        img="edwin.jpg"
        country="id"
        linkedin="edwin-simjaya"
        github="KalbeDigitalLab"
      >
        Edwin Simjaya is the Head of AI & Software Center at
        <a href="https://www.kalbe.co.id" target="_blank">Kalbe Farma</a>. His focus is on AI-augmented nutrigenomics
        using LLMs and is the driving force behind projects at
        <a href="https://kdu.kalbe.co.id" target="_blank">Kalbe Digital University</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Fadinda Shafira"
        img="fadindas.jpg"
        country="id"
        github="fadindashafira"
        linkedin="fadindashafira"
      >
        Fadinda is an AI Engineer in Bioinformatics at
        <a href="https://www.kalbe.co.id" target="_blank">Kalbe Farma</a>. She is part of Kalbe Digital Lab, focusing on
        digital biology. She promotes bioinformatics by developing courses for <a
          href="https://kdu.kalbe.co.id"
          target="_blank">Kalbe Digital University</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Felipe Almeida"
        img="felipe-almeida.jpg"
        country="dk"
        github="fmalmeida"
        linkedin="almeida-fm"
        twitter="fmarquesalmeida"
      >
        Felipe is a bioinformatician at <a
          href="https://www.zs.com/careers/where-we-work/europe/copenhagen"
          target="_blank">ZS</a
        >. He is involved in projects related to pipelines, promoting and facilitating the use of Nextflow with guidance
        and trainings, when fit. Also an active <a href="https://nf-co.re/" target="_blank">nf-core</a> member.
      </AmbassadorCard>

      <AmbassadorCard
        name="Firas Zemzem"
        img="FirasZemzem.jpg"
        country="tn"
        github="Zemzemfiras1"
        linkedin="firaszemzem"
        twitter="ZemzemFiras"
      >
        Firas is PhD student at the laboratory of Cytogenetics, Molecular Genetics, and Reproductive Biology at CHU
        Farhat Hached Sousse, focuses on unraveling the genetic mechanisms responsible for genetic disorders.
      </AmbassadorCard>

      <AmbassadorCard
        name="Florian Wünnemann"
        img="fwuennemann.jpg"
        country="de"
        github="flowuenne"
        linkedin="florian-wünnemann-322357189"
        twitter="flowuenne"
      >
        Florian is a Bioinformatics Engineer at <a href="https://seqera.io/" target="_blank">Seqera</a>, living in
        Montreal, with experience in single-cell and spatial omics technologies. He is a developer for <a
          href="https://nf-co.re/molkart/dev"
          target="_blank">nf-core/molkart</a
        >
        and in the nf-core maintainers team.
      </AmbassadorCard>

      <AmbassadorCard name="Florian Heyl" img="heylf.jpg" country="de" github="heylf" linkedin="florian-heyl">
        Florian Heyl is a Bioinformatician at DKFZ, Germany. He is bridging between nf-core, GHGA, Galaxy, and the
        single cell community. He holds a PhD in Bioinformatics from Freiburg University, Germany.
      </AmbassadorCard>

      <AmbassadorCard
        name="Francesco Lescai"
        img="francesco_nxf.png"
        country="it"
        github="lescai"
        linkedin="francescolescai"
        twitter="tokybo"
      >
        Francesco Lescai leads the <a href="https://lescailab.unipv.it" target="_blank">Computational Genomics Lab</a> at
        the <a href="https://dbb.dip.unipv.it/en" target="_blank">University of Pavia</a>. He teaches bioinformatics and
        he's a developer of <a href="https://nf-co.re" target="_blank">nf-core</a> pipelines.
      </AmbassadorCard>

      <AmbassadorCard
        name="Franziska Bonath"
        img="franziska.jpeg"
        country="se"
        github="FranBonath"
        linkedin="franziska-bonath-a0827a7a"
        twitter="FranBonath"
      >
        Fran got her PhD in Developmental Biology at the University of Manchester, then moved to Stockholm where she
        eventually landed at the NGI, one of the founding institutions of nf-core. She is a <a
          href="https://nf-co.re/governance#core-team"
          target="_blank">core team</a
        > member of <a href="https://nf-co.re/" target="_blank">nf-core</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Friederike Hanssen"
        img="friederikehanssen.png"
        country="de"
        github="FriederikeHanssen"
        linkedin="friederike-hanssen"
        twitter="RikeHanssen"
      />

      <AmbassadorCard
        name="Georgie Samaha"
        img="georgie.jpg"
        country="au"
        github="georgiesamaha"
        linkedin="georgie-samaha-95095b230"
      >
        Georgie leads the bioinformatics group at the <a
          href="https://www.sydney.edu.au/research/facilities/sydney-informatics-hub.html"
          target="_blank">Sydney Informatics Hub</a
        >, University of Sydney. She is working toward making bioinformatics more accessible by developing public
        digital infrastructure with the <a href="https://www.biocommons.org.au/" target="_blank"
          >Australian BioCommons</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Gisela Pattarone"
        img="GiselaPattarone.png"
        country="ar"
        github="gpattarone"
        linkedin="giselapattarone"
      >
        Gisela is a Bioinformatician at <a href="http://www.cnea.gov.ar/" target="_blank">CNEA</a>, where she designs
        and executes a meta-analysis project focused on gene expression profiles to identify diagnostic and therapeutic
        biomarkers in pediatric gliomas.
      </AmbassadorCard>

      <AmbassadorCard
        name="Graeme Grimes"
        img="ggrimes.jpg"
        country="gb"
        github="ggrimes"
        linkedin="graeme-grimes-a753743a"
        twitter="bioggrimes"
      >
        Graeme is a Bioinformatician at the <a href="https://www.ed.ac.uk/institute-genetics-cancer" target="_blank"
          >Institute of Genetics & Cancer</a
        > at the
        <a href="https://www.ed.ac.uk" target="_blank">Univeristy of Edinburgh</a> in Scotland, he is also the lesson maintainer
        of the Carpentries
        <a href="https://carpentries-incubator.github.io/workflows-nextflow/" target="_blank"
          >Introduction to Bioinformatics workflows with Nextflow and nf-core</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Hemanoel Passarelli"
        img="hemanoel-passarelli.jpg"
        country="br"
        github="Passarelli-bio"
        linkedin="hemanoel-passarelli"
        twitter="he_passarelli"
      >
        Hemanoel is Bioinformatics Engineer at <a href="https://gen-t.science/" target="_blank">Gen-t</a>, where he
        develops Nextflow pipelines to analyze human genetics data, enhancing Precision Medicine efforts in Brazil.
      </AmbassadorCard>

      <AmbassadorCard
        name="Houcemeddine Othman"
        img="houcem.png"
        country="tn"
        github="hothman"
        linkedin="houcemeddine-othman-5502b541"
        twitter="Houcemeddi61361"
      >
        Houcemeddine Othman is an Assistant Professor of Bioinformatics from Tunisia, working on the development of
        workflows for clinical genomics.
      </AmbassadorCard>

      <AmbassadorCard
        name="James Fellows Yates"
        img="james.jpeg"
        country="de"
        github="jfy133"
        linkedin="james-fellows-yates-999859179"
        twitter="jfy133"
      >
        James has a PhD in Bioinformatics from <a href="https://www.uni-jena.de" target="_blank">FSU Jena</a> and <a
          href="https://www.eva.mpg.de"
          target="_blank">MPI-EVA</a
        >. He is currently a PostDoc at <a href="https://www.leibniz-hki.de/en/" target="_blank">Leibniz-HKI</a>,
        working in metagenomics with a specialism in ancient DNA. He is also a <a
          href="https://nf-co.re/governance#core-team"
          target="_blank">core team</a
        > member of <a href="https://nf-co.re/" target="_blank">nf-core</a>
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Jaykishan Solanki"
        img="Jaykishan.jpg"
        country="in"
        github="jaykishan91"
        linkedin="jaykishan-solanki-7615b2146"
        twitter="JaykishanSolan9"
      >
        Jaykishan Solanki is an Bioinformatics Developer at NCGM Global working on omics data analysis and machine
        learning.
      </AmbassadorCard>

      <AmbassadorCard
        name="Jose Espinosa-Carrasco"
        img="joseespinosacarrasco.png"
        country="es"
        github="JoseEspinosa"
        linkedin="jose-espinosa-carrasco"
      >
        Jose is a Bioinformatician at the CBCRG group at the <a href="https://www.crg.eu" target="_blank">CRG</a>, the
        laboratory where Nextflow was born. As an early adopter of Nextflow, he is also a member of the <a
          href="https://nf-co.re/"
          target="_blank">nf-core</a
        >
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard name="Janan Gawra" img="Janan.jpeg" country="es" github="JGawra" linkedin="janangawra">
        Dr. Janan Gawra is a postdoctoral researcher at the <a
          href="https://www.idaea.csic.es/person/janan-gawra/"
          target="_blank">IDAEA-CSIC</a
        >. He is part of the <a href="https://epiboost.web.ua.pt/?page_id=6445" target="_blank">EPIBOOST</a> project, studying
        the epigenetic and gene expression changes in zebrafish and seabass in response to environmental pollutants.
      </AmbassadorCard>

      <AmbassadorCard
        name="João Vitor Cavalcante"
        img="joaocavalcante.png"
        country="br"
        github="jvfe"
        linkedin="joao-vitor-cavalcante"
      >
        João is a MSc student affiliated with the <a href="https://dalmolingroup.imd.ufrn.br/" target="_blank"
          >Dalmolin Systems Biology Group</a
        >, at the Bioinformatics Multidisciplinary Environment in Natal, Brazil. His interests are in metagenomics,
        neurogenetics and scientific software development.
      </AmbassadorCard>

      <AmbassadorCard
        name="Júlia Mir Pedrol"
        img="juliamirpedrol.png"
        country="es"
        github="mirpedrol"
        linkedin="juliamirpedrol"
        twitter="juliamirpedrol"
      >
        Júlia is a bioinformatician at the Computational Biology and Health Genomics group from the CRG. She is also an
        nf-core tools developer and a member of the <a href="https://nf-co.re/" target="_blank">nf-core</a>
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Juan A. Ugalde"
        img="jugalde.jpg"
        country="cl"
        github="juanu"
        linkedin="juanugalde"
        twitter="juanu"
      >
        Juan is an <a href="https://www.ugaldelab.org" target="_blank">assistant professor</a> at the Center for Bioinformatics
        and Integrative Biology, at Universidad Andres Bello, Santiago, Chile.
      </AmbassadorCard>

      <AmbassadorCard
        name="Krešimir Beštak"
        img="kbestak.jpg"
        country="de"
        github="kbestak"
        linkedin="krešimir-beštak-a027ab211"
        twitter="KresBestak"
      >
        Krešimir is a PhD student at the
        <a
          href="https://www.medizinische-fakultaet-hd.uni-heidelberg.de/einrichtungen/institute/institute-for-computational-biomedicine"
          target="_blank">Institute for Computational Biomedicine</a
        >, University Hospital Heidelberg. He's the developer of <a href="https://nf-co.re/molkart/dev" target="_blank"
          >nf-core/molkart</a
        >, and is working on spatial omics nf-core pipelines.
      </AmbassadorCard>

      <AmbassadorCard
        name="Kübra Narcı"
        img="kubranarci2.jpg"
        country="de"
        github="kubranarci"
        mastodon="https://www.ghga.de/about-us/team-members/narci-kuebra"
        linkedin="kubranarci"
        twitter="kubranarci"
      >
        Kübra Narcı is a bioinformatician at DKFZ, Germany. She is bridging between nf-core and GHGA. She holds a PhD in
        Bioinformatics from METU, Turkey.
      </AmbassadorCard>

      <AmbassadorCard name="Lynn Langit" img="lynnlangit.png" country="us" github="lynnlangit" linkedin="lynnlangit">
        Lynn is an independent cloud architect supporting bioinformatics teams world-wide. She is also part of <a
          href="https://dimi-lab.github.io/team/"
          target="_blank">DIMI Lab</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Luca Cozzuto"
        img="lcozzuto.jpeg"
        country="es"
        github="lucacozzuto"
        linkedin="cozzuto"
        twitter="lucacozzuto"
      >
        Luca is a Senior Bioinformatician at <a href="https://biocore.crg.eu/" target="_blank">
          the Bioinformatics technology platform
        </a> of <a href="https://www.crg.eu/" target="_blank"> the Centre for Genomic Regulation.</a> He has a PhD in Molecular
        Medicine from <a href="https://www.semm.it/" target="_blank"> The European School of Molecular Medicine </a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Luke Pembleton"
        img="luke.jpg"
        country="au"
        github="lpembleton"
        mastodon="https://genomic.social/@lwpembleton"
        linkedin="lpembleton"
        twitter="lwpembleton"
      >
        Luke has a PhD in Molecular Genetics from <a href="https://www.latrobe.edu.au/" target="_blank"
          >La Trobe University</a
        > and <a href="https://agriculture.vic.gov.au/about/our-research" target="_blank">AVR</a>, Australia. He is
        currently a Genomic Breeding Scientist and Global Strategic Science Manager at <a
          href="https://www.barenbrug.com"
          target="_blank">Barenbrug</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Mahesh Binzer-Panchal"
        img="mahesh_binzer-panchal.png"
        country="se"
        github="mahesh-panchal"
        mastodon="https://genomic.social/@mbp"
        linkedin="mahesh-binzer-panchal-79a726a2"
        twitter="arcane_mahesh"
      >
        Mahesh is a bioinformatician for <a href="https://www.nbis.se/" target="_blank">NBIS</a>,
        <a href="https://www.scilifelab.se/" target="_blank">SciLifeLab</a>, the Swedish node of
        <a href="https://elixir-europe.org/" target="_blank">Elixir</a>. He supports research groups, performing de novo
        genome assembly, or workflow development. He is also an nf-core maintainer.
      </AmbassadorCard>

      <AmbassadorCard
        name="Marie Lataretu"
        img="marie_lataretu.jpg"
        country="de"
        github="MarieLataretu"
        linkedin="marie-lataretu-b55103218"
      >
        Marie is a bioinformatician at the <a href="https://www.rki.de/EN/Home/homepage_node.html" target="_blank"
          >Robert Koch Institute</a
        >. She mainly develops pipelines for NGS data and viroinformatics.
      </AmbassadorCard>

      <AmbassadorCard
        name="Mateus Falco"
        img="mateus.jpeg"
        country="br"
        github="mlfalco-bioinfo"
        linkedin="mateusfalco"
      >
        Mateus is a PhD student on Pharmaceutical Sciences at <a href="https://www3.unicentro.br/ppgcf/" target="_blank"
          >Unicentro</a
        >, working at the facility <a href="https://ipec.org.br/" target="_blank">IPEC</a> in wetlab and bioinformatics on
        Program Genomas Paraná.
      </AmbassadorCard>

      <AmbassadorCard
        name="Matthias De Smet"
        img="matthias_de_smet.jpeg"
        country="be"
        github="matthdsm"
        linkedin="desmetmatthias"
      />

      <AmbassadorCard name="Matthias Hörtenhuber" img="matthias.jpeg" country="se" github="mashehu" twitter="mashehu" />

      <AmbassadorCard
        name="Maxime Garcia"
        img="maxime.jpeg"
        country="se"
        github="maxulysse"
        linkedin="maxugarcia"
        twitter="gau"
      >
        Maxime, bioinfomagician, develops nf-core pipelines, mainly Sarek, and is a member of the <a
          href="https://nf-co.re/"
          target="_blank">nf-core</a
        >
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Michael Heuer"
        img="michael_heuer.png"
        country="us"
        github="heuermh"
        twitter="michael_l_heuer"
      >
        Michael Heuer (he/him/his) is a Staff Engineer at
        <a href="https://mammoth.bio/" target="_blank">Mammoth Biosciences</a>. Michael contributes to several nf-core
        workflows and is a member of the nf-core
        <a href="https://nf-co.re/governance#safety" target="_blank">safety team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Moritz E. Beber"
        img="moritz.jpeg"
        country="dk"
        github="Midnighter"
        linkedin="moritz-beber-b597a55a"
        twitter="me_beber"
      >
        Moritz is a Senior IT Solution Architect at <a
          href="https://www.novonordisk.com"
          target="_blank"
          referrerpolicy="no-referrer">Novo Nordisk A/S</a
        >. He holds a PhD in bioinformatics and worked in computational systems biology. He strongly supports open
        knowledge and open source initiatives such as <a
          href="https://nf-co.re/"
          target="_blank"
          referrerpolicy="no-referrer">nf-core</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Muntadher Jihad"
        img="munji.png"
        country="gb"
        github="muntajihad"
        linkedin="muntadherjihad"
        twitter="munta04"
      >
        Muntadher is a Bioinformatician at <a href="https://www.cruk.cam.ac.uk/" target="_blank">CRUK CI</a>, develops
        statistical models to identify cellular crosstalk in pancreatic cancer and develops Nextflow pipelines for
        scRNA-seq variant calling.
      </AmbassadorCard>

      <AmbassadorCard
        name="Natalia Coutouné"
        img="natalia.jpeg"
        country="br"
        github="nat-coutoune"
        linkedin="natalia-coutouné-a421b91b5"
      />

      <AmbassadorCard
        name="Nicolas Vannieuwkerke"
        img="nicolas.jpeg"
        country="be"
        github="nvnieuwk"
        linkedin="nicolas-vannieuwkerke-316874163"
      >
        Nicolas Vannieuwkerke is a Bioinformatician at <a href="https://www.cmgg.be/" target="_blank">CMGG</a>. He
        mainly develops Nextflow pipelines for in-house deployment using the nf-core standards. He also is an avid
        believer in "Learning on the job" and is always eager to learn
      </AmbassadorCard>

      <AmbassadorCard
        name="Noah A. Legall"
        img="noahlegall.JPG"
        country="us"
        github="noahaus"
        linkedin="noah-legall-phd-aa424210a"
      >
        Noah Legall (Ph. D.) is a Bioinformatic Scientist who uses Nextflow to make comparative genomics of zoonotic and
        antimicrobial resistant bacterial pathogens seamless.
      </AmbassadorCard>

      <AmbassadorCard
        name="Nicolas A. Schcolnicov"
        img="nschcolnicov.jpg"
        country="ar"
        github="nschcolnicov"
        linkedin="naschcolnicov"
      >
        Nicolas Schcolnicov is a Bioinformatics Consultant focused on the development and maintenance of Nextflow
        pipelines. He contributes to the <a href="https://nf-co.re/" target="_blank">nf-core</a> workflows and his interests
        are scientific software development and data science.
      </AmbassadorCard>

      <AmbassadorCard
        name="Nicolas Servant"
        img="nservant.jpg"
        country="fr"
        github="nservant"
        linkedin="nicolas-servant-0577471"
      >
        Nicolas is the co-director of the <a
          href="https://institut-curie.org/plateforme/curiecoretech-bioinformatics-cubic"
          target="_blank"
        >
          bioinformatics core facility of Institut Curie</a
        >. His main interests are cancer biology/epigenetics/AI. Member of the <a
          href="https://nf-co.re/"
          target="_blank">nf-core</a
        > community, he promotes Nextflow for good programming practices.
      </AmbassadorCard>

      <AmbassadorCard
        name="Opeyemi Alayande"
        img="opeyemi_alayande.jpg"
        country="ng"
        github="ycode-sh"
        linkedin="yemistats"
        twitter="@ycode_sh"
      >
        Opeyemi creates and uses Nextflow-powered tools for infectious disease management at the <a
          href="https://dfg-mrtc.org/"
          target="_blank">Damien Foundation Genomics and Mycobacteria Research and Training centre</a
        >, located in the <a href="http://www.ui.edu.ng/" target="_blank">University of Ibadan</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Phil Ewels"
        img="phil.jpg"
        country="se"
        github="ewels"
        linkedin="philewels"
        twitter="tallphil"
      >
        Phil Ewels is Senior Product Manager for Open Source Software at <a href="https://www.seqera.io" target="_blank"
          >Seqera</a
        >, working on strengthening the Nextflow and nf-core communities. He holds a PhD in Molecular Biology from the <a
          href="https://www.cam.ac.uk"
          target="_blank">University of Cambridge</a
        >, UK. He co-founded <a href="https://nf-co.re/" target="_blank">nf-core</a> and is a member of the
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Pritam Kumar Panda"
        img="pritam_photo.png"
        country="us"
        github="pritampanda15"
        linkedin="pritam-kumar-panda"
        twitter="pritamkpanda"
      >
        Pritam is a Postdoctoral scholar in the 
        <a href="https://profiles.stanford.edu/pritam-panda">
        Department of Anesthesiology, Perioperative and Pain Medicine
        </a> 
        at 
        <a href="https://med.stanford.edu/profiles/pritam-panda">
        Stanford University, School of Medicine
        </a>, California, 
        designing novel anesthetics suitable for battlefield conditions.
        </a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Priyanka Surana"
        img="priyanka.jpeg"
        country="gb"
        github="priyanka-surana"
        linkedin="priyanka-surana"
        twitter="psurana"
      />

      <AmbassadorCard
        name="Ramiro Barrantes Reynolds"
        img="ramiro.jpg"
        country="us"
        github="ramirobarrantes"
        linkedin="ramiro-barrantes-reynolds"
      >
        Bioinformatician/statistician/data scientist for the <a href="https://www.med.uvm.edu/vigr/home"
          >Genomics/Data Science Core</a
        > and the <a href="http://www.med.uvm.edu/tgircobre/home">Infectious Disease Center</a> at the <a
          href="https://www.uvm.edu/"
        >
          University of Vermont</a
        >, USA. Love Nextflow!!
      </AmbassadorCard>

      <AmbassadorCard
        name="Ramprasad Neethiraj"
        img="ramprasadneethiraj.jpg"
        country="se"
        github="ramprasadn"
        linkedin="ramprasad-neethiraj"
      >
        Ram is a bioinformatician in the <a href="https://www.scilifelab.se/units/clinical-genomics-stockholm/"
          >Clinical Genomics Unit</a
        > at <a href="https://www.scilifelab.se/">SciLifeLab</a>, Stockholm, developing diagnostic pipelines for
        clinical settings. He has a Ph.D. in Population Genetics from <a href="https://www.su.se/english/"
          >Stockholm University</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Raquel Manzano"
        img="raquelmanzano.jpg"
        country="gb"
        github="RaqManzano"
        linkedin="raquel-manzano-bioinformatician"
        twitter="appletreewoman"
      >
        Raquel is a senior bioinformatician and final year PhD student at <a
          href="https://www.cruk.cam.ac.uk/"
          target="_blank">CRUK Cambridge Institute</a
        >. She is also a trainer at the <a href="https://bioinfotraining.bio.cam.ac.uk" target="_blank"
          >University of Cambridge Bioinformatics Training Unit</a
        >. For her PhD she developed <a href="https://nf-co.re/rnadnavar/dev" target="_blank">#rnadnavar</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Riley Grindle"
        img="rgrindle.jpg"
        country="us"
        github="Riley-Grindle"
        linkedin="riley-grindle"
      >
        Riley is a Bioinformatician at <a href="https://mdibl.org/" target="_blank">MDIBL</a>. He has helped develop
        pipelines for his institutions in-house use and is an active member of the
        <a href="https://nf-co.re/" target="_blank">nf-core</a> community.
      </AmbassadorCard>

      <AmbassadorCard
        name="Robert Petit"
        img="robertpetit.png"
        country="us"
        github="rpetit3"
        linkedin="rpetit3"
        twitter="rpetit3"
      >
        Robert is a Senior Bioinformatics Scientist at the
        <a href="https://health.wyo.gov/publichealth/lab/" target="_blank">Wyoming Public Health Laboratory</a>. He's
        the developer of <a href="https://bactopia.github.io/" target="_blank">Bactopia</a>,
        <a
          href="https://bactopia.github.io/v3.0.0/impact-and-outreach/enhancements/#nf-coremodules-contributions"
          target="_blank">a regular contributor to nf-core</a
        >, and a member of the Bioconda Core team.
      </AmbassadorCard>

      <AmbassadorCard
        name="Saba Nafees"
        img="saba.jpeg"
        country="us"
        github="snafees"
        linkedin="saba-nafees"
        twitter="saba_nafees314"
      />

      <AmbassadorCard
        name="Simon Murray"
        img="simon_murray.jpg"
        country="gb"
        github="SimonDMurray"
        linkedin="simon-murray-856102156"
      >
        Simon Murray is a Bioinformatics Engineer at <a href="https://www.genomicsengland.co.uk" target="_blank"
          >Genomics England</a
        > in Research Data Products where he develops and maintains pipelines for the <a
          href="https://www.genomicsengland.co.uk/research/research-environment"
          target="_blank">Research Environment</a
        >.
      </AmbassadorCard>

      <AmbassadorCard
        name="Simon Pearce"
        img="simon_pearce.jpeg"
        country="gb"
        github="SPPearce"
        linkedin="simonppearce"
      >
        Simon Pearce is a Principal Bioinformatician at the <a
          href="https://www.cruk.manchester.ac.uk/Our-Research/Cancer-Biomarker-Centre/CEP-Home/"
          >Cancer Research UK National Biomarker Centre</a
        >, where he works on detecting and subtyping cancer using circulating cell-free DNA methylation.
      </AmbassadorCard>

      <AmbassadorCard
        name="Sofia Stamouli"
        img="sofia.jpeg"
        country="se"
        github="sofstam"
        linkedin="sofia-stamouli-a22b5477"
      />

      <AmbassadorCard
        name="Solenne Correard"
        img="Solenne.png"
        country="fr"
        github="scorreard"
        linkedin="solenne-correard-2a4675114"
        twitter="CorreardSolenne"
      >
        Solenne Correard is the scientific director of <a href="https://www.wiseancestors.org/">Wise Ancestors</a>. She
        is a molecular biologist and bioinformatician using nextflow for projects focusing on biodiversity conservation
        and equity in health-care.
      </AmbassadorCard>

      <AmbassadorCard name="Ziad Al-Bkhetan" img="Ziad.jpg" country="au" github="ziadbkh" linkedin="ziad-al-bkhetan">
        <a href="https://www.biocommons.org.au/lb-ziad">Ziad</a> is the Product Manager, Bioinformatics Platforms at <a
          href="http://biocommons.org.au/">Australian BioCommons</a
        >. He leads several bioinformatics focused services such as <a
          href="https://www.biocommons.org.au/seqera-platform">the Australian Nextflow Seqera Service</a
        > and
        <a href="https://www.biocommons.org.au/ables">ABLeS</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Zohaib Anwar"
        img="zohaibanwar.jpeg"
        country="ca"
        github="anwarMZ"
        linkedin="mzohaibanwar"
        twitter="zohaibanwar_"
      >
        Zohaib is a Senior Postdoc Researcher at the
        <a href="https://cidgoh.ca/" target="_blank">Center for Infectious Disease Genomics and One Health</a>. He's the
        developer of <a href="https://virusmvp.org" target="_blank">VIRUS-MVP</a>, powered by a genomics workflow
        developed in Nextflow with nf-core modules.
      </AmbassadorCard>
    </div>
  </div>
  <h1 id="program-staff">Ambassador Program Staff</h1>

  <div class="container">
    <div class="row">
      <AmbassadorCard
        name="Marcel Ribeiro-Dantas"
        img="marcel.jpg"
        country="br"
        github="mribeirodantas"
        linkedin="mribeirodantas"
        twitter="mribeirodantas"
      >
        Marcel holds a PhD in Bioinformatics from <a href="https://www.sorbonne-universite.fr" target="_blank"
          >Sorbonne Université</a
        >. He is currently a Developer Advocate at <a href="https://seqera.io" target="_blank">Seqera</a> and a member in
        the <a href="https://nf-co.re/" target="_blank">nf-core</a>
        <a href="https://nf-co.re/governance#core-team" target="_blank">core team</a>.
      </AmbassadorCard>

      <AmbassadorCard
        name="Geraldine Van der Auwera"
        img="geraldine.png"
        country="us"
        github="vdauwera"
        linkedin="geraldine-van-der-auwera-5a5811"
        twitter="VdaGeraldine"
      >
        Geraldine is Lead Developer Advocate at <a href="https://seqera.io" target="_blank">Seqera</a>. She has a bit of
        history with GATK and is also the author of Genomics in the Cloud (O'Reilly, 2020).
      </AmbassadorCard>

      <AmbassadorCard
        name="Ken Brewer"
        img="kbrewer.jpg"
        country="us"
        github="kenibrewer"
        linkedin="kenibrewer"
        twitter="kenibrewer"
      >
        Ken is a open-source developer and advocate active within the areas of genomics and high-content imaging
        microscopy. He is a Senior Developer Advocate at Seqera.
      </AmbassadorCard>
    </div>
  </div>
  <h1 id="alumni">Program Alumni</h1>
  Individuals who are no longer active Nextflow Ambassadors but have participated in the program in the past.
  <div class="container">
    <div class="row">
      <AmbassadorCard
        name="Anders Jemt"
        img="anders.jpeg"
        country="se"
        github="jemten"
        linkedin="anders-jemt-16b73367"
      />

      <AmbassadorCard
        name="Bhargava Morampalli"
        img="bhargava.jpeg"
        country="nz"
        github="bhargava-morampalli"
        linkedin="bhargavamorampalli"
        twitter="iambhargava"
      />

      <AmbassadorCard
        name="Christopher Mohr"
        img="christopher.jpeg"
        country="de"
        github="christopher-mohr"
        linkedin="christopher-mohr-8b6a52197"
        twitter="cmohr_tue"
      />

      <AmbassadorCard
        name="Gisela Gabernet"
        img="gisela.jpeg"
        country="us"
        github="ggabernet"
        linkedin="gisela-gabernet-89a9779b"
        twitter="GGabernet"
      />
      <AmbassadorCard
        name="Jasmin Frangenberg"
        img="jasmin.jpeg"
        country="de"
        github="jasmezz"
        linkedin="jasmin-frangenberg"
      />
      <AmbassadorCard
        name="Sateesh Peri"
        img="SateeshPeri.png"
        country="in"
        github="sateeshperi"
        linkedin="sateesh-peri-b0130476"
      />
    </div>
  </div>
</Page>
