---
const {} = Astro.props;
const currentYear = new Date().getFullYear();
import LogoSeqera from "../../public/img/assets/Logo_Seqera_whote.svg"

---

<div class="footer-wrapper">
  <!-- footer wrapper -->
  <hr />
  <div class="container">
    <footer class="flex justify-between  flex-col w-full ">
      <div class="flex justify-between py-4">
        <ul class="list-inline pull-right">
          <li style="position: relative; top: 5px">
            <a href="https://seqera.io" target="_blank" title="Developed by Seqera">
              <img src={LogoSeqera.src} alt="Seqera" width="98" height="21" />
            </a>
          </li>
        </ul>
  
        <!-- <ul class="list-inline pull-left">
          <li style="position: relative; top: 5px">
            <a href="https://twitter.com/nextflowio" class="twitter-follow-button" data-show-count="false">
              Follow @nextflowio
            </a>
          </li>
  
          <li>
            <a href="mailto:info@nextflow.io">info@nextflow.io</a>
          </li>
        </ul> -->

      </div>
      <div class="border-t border-white opacity-50" />
      <div class="flex flex-wrap gap-10 py-4">
        <div>
          <ul class="resources-list">
            <li class="title text-white font-inter text-xs font-bold">
              Resources
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Blog</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Podcast</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Learn Nextflow</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Implementation patterns</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Nextflow Ambassadors</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Slack community chat</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">nf-core pipelines</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">About Nextflow</a>
            </li>

          </ul>
        </div>  

        <div>
          <ul class="examples-list">
            <li class="title text-white font-inter text-xs font-bold">
              Examples
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Basic pipeline</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">BLAST pipeline</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">RNA-Seq pipeline</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Machine Learning pipeline</a>
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Simple RNAseq pipeline</a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title text-white font-inter text-xs font-bold">
              Documentation
            </li>
            <li >
              <a class="text-white font-inter text-xs font-normal leading-normal" href="https://nextflow.io/docs/latest/index.html">Documentation</a>
            </li>
           
          </ul>
        </div>
        <div>
          <ul>
            <li class="title ">
              <a class="text-white font-inter text-xs font-bold" href="https://nextflow.io/docs/latest/index.html">Training</a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title text-white font-inter text-xs font-bold">
              <a class="text-white font-inter text-xs font-bold" href="https://nextflow.io/docs/latest/index.html">Forum</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="border-t border-white opacity-50" />
      <div class="flex justify-between py-4">
        <ul>
          <li class="text-white opacity-50 font-inter text-xs font-normal leading-[22px]">
            © {currentYear} Seqera. All Rights Reserved.
          </li>
        </ul>
      </div>

    </footer>
  </div>
</div>

<!-- / footer wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script is:inline src="/js/bootstrap.min.js"></script>
<script is:inline src="/js/custom.js"></script>
<script is:inline>
  !(function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? "http" : "https";
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + "://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  })(document, "script", "twitter-wjs");
</script>
