---
const {} = Astro.props;
---

<div class="footer-wrapper">
  <!-- footer wrapper -->
  <hr />
  <div class="container">
    <footer>
      <ul class="list-inline pull-right">
        <li style="position: relative; top: 5px">
          <a href="https://seqera.io" target="_blank" title="Developed by Seqera">
            <img src="/img/seqera-logo-wide_new.png" alt="Seqera" width="136" height="28" />
          </a>
        </li>
      </ul>
      <ul class="list-inline pull-left">
        <li style="position: relative; top: 5px">
          <a href="https://twitter.com/nextflowio" class="twitter-follow-button" data-show-count="false">
            Follow @nextflowio
          </a>
        </li>

        <li>
          <a href="mailto:info@nextflow.io">info@nextflow.io</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </footer>
  </div>
</div>
<!-- / footer wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script is:inline src="/js/bootstrap.min.js"></script>
<script is:inline src="/js/custom.js"></script>
<script is:inline>
  !(function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? "http" : "https";
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + "://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  })(document, "script", "twitter-wjs");
</script>
