---
const {} = Astro.props;
const currentYear = new Date().getFullYear();
import LogoSeqera from "../../public/img/assets/Logo_Seqera_whote.svg";
---

<div class="footer-wrapper">
  <!-- footer wrapper -->
  <hr />
  <div class="container">
    <footer class="flex justify-between flex-col w-full">
      <div class="flex justify-between py-4">
        <ul class="list-inline pull-right">
          <li style="position: relative; top: 5px">
            <a href="https://seqera.io" target="_blank" title="Developed by Seqera">
              <img src={LogoSeqera.src} alt="Seqera" width="98" height="21" />
            </a>
          </li>
        </ul>

        <!-- <ul class="list-inline pull-left">
          <li style="position: relative; top: 5px">
            <a href="https://twitter.com/nextflowio" class="twitter-follow-button" data-show-count="false">
              Follow @nextflowio
            </a>
          </li>
  
          <li>
            <a href="mailto:info@nextflow.io">info@nextflow.io</a>
          </li>
        </ul> -->
      </div>
      <div class="border-t border-white opacity-50"></div>
      <div class="flex flex-col md:flex-row flex-wrap gap-1 md:gap-10 py-4">
        <div class="w-full md:w-auto">
          <ul class="resources-list">
            <li class="title text-white font-inter text-xs font-bold">Resources</li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://seqera.io/blog/tag-nextflow/"
                target="_blank">Blog</a
              >
            </li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://seqera.io/podcasts/"
                target="_blank">Podcast</a
              >
            </li>

            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="http://nextflow-io.github.io/patterns/index.html"
                target="_blank">Implementation patterns</a
              >
            </li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/ambassadors.html"
                >Nextflow Ambassadors</a
              >
            </li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://www.nextflow.io/slack-invite.html"
                target="_blank">Slack community chat</a
              >
            </li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://nf-co.re"
                target="_blank">nf-core pipelines</a
              >
            </li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/about-us.html"
                >About Nextflow</a
              >
            </li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://community.seqera.io/tag/nextflow">Community forum</a
              >
            </li>
          </ul>
        </div>

        <div class="w-full md:w-auto">
          <ul class="examples-list">
            <li class="title text-white font-inter text-xs font-bold">Examples</li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/example1.html"
                >Basic pipeline</a
              >
            </li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/example2.html"
                >Mixing scripting languages</a
              >
            </li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/example3.html"
                >BLAST pipeline</a
              >
            </li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/example4.html"
                >RNA-Seq pipeline</a
              >
            </li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/example5.html"
                >Machine Learning pipeline</a
              >
            </li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://github.com/nextflow-io/rnaseq-nf"
                target="_blank">Simple RNAseq pipeline</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-auto">
          <ul>
            <li class="title text-white font-inter text-xs font-bold">Scientists</li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://seqera.io/pipelines/"
                target="_blank">Pipelines</a
              >
            </li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://seqera.io/containers/"
                target="_blank">Containers</a
              >
            </li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://seqera.io/ask-ai/"
                target="_blank">Seqera AI</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-auto">
          <ul>
            <li class="title text-white font-inter text-xs font-bold">Documentation</li>
            <li>
              <a class="text-white font-inter text-xs font-normal leading-normal" href="/docs/latest/index.html"
                >Documentation</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-auto">
          <ul>
            <li class="title text-white font-inter text-xs font-bold">Training</li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="http://training.nextflow.io"
                target="_blank">Training portal</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-auto">
          <ul>
            <li class="title text-white font-inter text-xs font-bold">Forum</li>
            <li>
              <a
                class="text-white font-inter text-xs font-normal leading-normal"
                href="https://community.seqera.io/tag/nextflow"
                target="_blank">Community Forum</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="border-t border-white opacity-50"></div>
      <div class="flex justify-between py-4">
        <ul>
          <li class="text-white opacity-50 font-inter text-xs font-normal leading-[22px]">
            © {currentYear} Seqera. All Rights Reserved.
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>

<!-- / footer wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script is:inline src="/js/bootstrap.min.js"></script>
<script is:inline src="/js/custom.js"></script>
<script is:inline>
  !(function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? "http" : "https";
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + "://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  })(document, "script", "twitter-wjs");
</script>
