---
// /src/pages/ambassador/my_report.astro
---

<html>
  <head>
    <meta
      http-equiv="refresh"
      content="0;url=https://script.google.com/macros/s/AKfycbzTYEvj1n3l7b-mHX_wYAS2I115A4-h3cWkDMnJvLvLehTY3Op_rlar7wULF6ox4M4/exec"
    />
  </head>
  <body> Redirecting... </body>
</html>
