---
// /src/pages/ambassador/my_report.astro
---

<html>
  <head>
    <meta
      http-equiv="refresh"
      content="0;url=https://script.google.com/macros/s/AKfycbxYXHBk678j0O8f-mRdfoJ2pC7Zmt-5Yixt5lKwPAYClvupTy8-0m_gokLKve1Vsw/exec"
    />
  </head>
  <body> Redirecting... </body>
</html>
