---
// /src/pages/ambassador/request_funding.astro
---

<html>
  <head>
    <meta
      http-equiv="refresh"
      content="0;url=https://script.google.com/macros/s/AKfycbzk2106GB_ObgpQSwygUp9AxGa2GnwXzsW33-mFY7pTeHLxdotuHOJ-BU1py6cVdIA/exec"
    />
  </head>
  <body> Redirecting... </body>
</html>
