---
// /src/pages/ambassador/request_funding.astro
---

<html>
  <head>
    <meta
      http-equiv="refresh"
      content="0;url=https://script.google.com/macros/s/AKfycbwCXBhHS6mE7Zl-PIoRvMplloyaflhLPVLy82nUyYvC-i9x_iAQ2Cdjtr99L0VsPTE/exec"
    />
  </head>
  <body> Redirecting... </body>
</html>
