.ambassador-bio-content a {
  color: var(--color-nextflow-800);
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(var(--color-nextflow-600), var(--color-nextflow-600));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s ease, color 0.3s;
}

.ambassador-bio-content a:hover {
  color: var(--color-nextflow-900);
  background-size: 100% 1px;
}

.bio-bottomsheet {
  position: relative;
  left: 0;
  right: 0;
  bottom: 100;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1), 
              opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  max-height: 100%;
  z-index: 20;
  overflow: hidden;
  height: auto;
}

.bio-bottomsheet[aria-hidden="false"] {
  transform: translateY(0);
}

.ambassador-bio-content {
  line-height: 1.5;
  color: var(--color-brand-800);
  padding-top: 8px;
  font-size: 14px;
}

[aria-hidden="false"] + .ambassador-bio-content {
  padding-top: 12px;
}

.ambassador-bio-content::-webkit-scrollbar {
  width: 4px;
}

.ambassador-bio-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.ambassador-bio-content::-webkit-scrollbar-thumb {
  background: var(--color-band);
  border-radius: 2px;
}

.social-container {
  position: relative;
  z-index: 25;
}

button:focus-visible, a:focus-visible {
  outline: 2px solid var(--color-nextflow-600);
  outline-offset: 2px;
}

[aria-hidden="false"] {
  display: block;
}

button[aria-expanded="true"] {
  color: var(--color-nextflow-800);
}

button:focus-visible i[class*="fa-chevron"] {
  transform: translateY(var(--direction-y, 0));
}

button[aria-expanded="true"]:focus-visible i[class*="fa-chevron"] {
  --direction-y: -2px;
}

button[aria-expanded="false"]:focus-visible i[class*="fa-chevron"] {
  --direction-y: 2px;
}