---
import Layout from './Layout.astro';

interface Props {
    title: string;
    description: string;
    image: string|null;
}

const { title, description, image } = Astro.props;
---

<Layout title={title} description={description} image={image}>
    <div class="wrapper">
        <div class="container">
            <slot />
        </div>
    </div>
</Layout>

